<html>
<head>
<title>Error</title>
</head>
<body bgcolor = 'aqua'>
<style>
    .button {
    vertical-align: middle;
    background-color: rgb(0, 102, 255); 
    border: white;
    color : white;
    padding: 4px 40px;
    text-align: center;
    text-decoration: none ;
    display: inline-block;
    font-size: 16px;
    }
</style>
<center>
<b> <p style="color:red"> Invalid email id or password!! </p></b>
<a href="/login"><button class = "button">click here to go back to login page</button></a>
<br/>
</center>
</form>
<body>
</html>





