<html>
<head>
<title>Already Exist</title>
</head>
<style>
.button:hover {
background-color:green;
color: white;
}
    .button {
    vertical-align: middle;
    background-color: blue; 
    border: white;
    color : white;
    padding: 4px 40px;
    text-align: center;
    text-decoration: none ;
    display: inline-block;
    font-size: 16px;
    }
</style>
<body bgcolor = 'aqua'>
<center><b> <p style="color:red"> This user already exist try with different Email id </p></b>
<a href="\"><button class = "button">click here to go back to SignUp page</button></a>
</center>
<body>
</html>





